@import url(https://fonts.googleapis.com/css?family=Chonburi:400);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700);





body {
  font-family: Poppins;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Chonburi', display;
  font-size: 2rem;
}
.display-2 {
  font-family: 'Chonburi', display;
  font-size: 1.6rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
.display-5 {
  font-family: 'Chonburi', display;
  font-size: 1rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  position: relative;
  font-weight: 500;
  border-width: 1px;
  font-style: normal;
  letter-spacing: normal;
  margin: .4rem .8rem;
  white-space: normal;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,2s;
  transition-timing-function: ease-in-out;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  content: '';
  border: 1px solid;
  border-color: inherit;
  width: 100%;
  height: 100%;
  transition: border-radius 0.3s;
  position: absolute;
  left: 0%;
  top: 0%;
  opacity: 1;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
.btn:hover:after,
.btn:focus:after,
.btn.active:after {
  -webkit-animation: 1s btn-animation linear infinite;
  animation: 1s btn-animation linear infinite;
}
.note-popover .btn:after {
  display: none;
}
@keyframes btn-animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
.btn-sm {
  border: 1px solid;
  font-weight: 500;
  letter-spacing: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: normal;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.719rem 1.5rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: normal;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.875rem 1.875rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #66458e !important;
}
.bg-success {
  background-color: #365c9a !important;
}
.bg-info {
  background-color: #e96188 !important;
}
.bg-warning {
  background-color: #fac769 !important;
}
.bg-danger {
  background-color: #b2ccd2 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #66458e !important;
  border-color: #66458e !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #412c5b !important;
  border-color: #412c5b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #412c5b !important;
  border-color: #412c5b !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ca4336 !important;
  border-color: #ca4336 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #8e2f25 !important;
  border-color: #8e2f25 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #8e2f25 !important;
  border-color: #8e2f25 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #e96188 !important;
  border-color: #e96188 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #df1f56 !important;
  border-color: #df1f56 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #df1f56 !important;
  border-color: #df1f56 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #365c9a !important;
  border-color: #365c9a !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #223a61 !important;
  border-color: #223a61 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #223a61 !important;
  border-color: #223a61 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #fac769 !important;
  border-color: #fac769 !important;
  color: #614003 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #614003 !important;
  background-color: #f8ab1f !important;
  border-color: #f8ab1f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614003 !important;
  background-color: #f8ab1f !important;
  border-color: #f8ab1f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  color: #333333 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #333333 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #352449;
  color: #352449 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #66458e;
  border-color: #66458e;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #66458e !important;
  border-color: #66458e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #7a2820;
  color: #7a2820 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #ca4336;
  border-color: #ca4336;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ca4336 !important;
  border-color: #ca4336 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #c81c4d;
  color: #c81c4d !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #e96188;
  border-color: #e96188;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #e96188 !important;
  border-color: #e96188 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #1c2f4e;
  color: #1c2f4e !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #365c9a;
  border-color: #365c9a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #365c9a !important;
  border-color: #365c9a !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #f5a208;
  color: #f5a208 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #614003 !important;
  background-color: #fac769;
  border-color: #fac769;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614003 !important;
  background-color: #fac769 !important;
  border-color: #fac769 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #72a1ac;
  color: #72a1ac !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #b2ccd2;
  border-color: #b2ccd2;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff !important;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #66458e !important;
}
.text-secondary {
  color: #ca4336 !important;
}
.text-success {
  color: #365c9a !important;
}
.text-info {
  color: #e96188 !important;
}
.text-warning {
  color: #fac769 !important;
}
.text-danger {
  color: #b2ccd2 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #352449 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #7a2820 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #1c2f4e !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #c81c4d !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #f5a208 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #72a1ac !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #365c9a;
}
.alert-info {
  background-color: #e96188;
}
.alert-warning {
  background-color: #fac769;
}
.alert-danger {
  background-color: #b2ccd2;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .3s,.3s,.3s,.8s;
  transition-timing-function: ease-in-out;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #66458e;
  border-color: #66458e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #66458e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #a68cc7;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #7e9ed2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #fff;
  width: 2px;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #66458e;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  -webkit-justify-content: center;
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 2rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.special-form {
  border-radius: 100px !important;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #66458e;
  color: #232323;
  cursor: pointer;
  border-radius: 100px;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #66458e;
}
.btn-social + .btn {
  margin-left: .1rem;
}
.input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.input-group-btn a.btn {
  border-radius: 100px !important;
}
/* Footer */
.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}
html,
body {
  height: auto;
  min-height: 100vh;
}
.dropup .dropdown-toggle::after {
  display: none;
}
.cid-r1nIUJT8hv .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-r1nIUJT8hv .nav-item,
.cid-r1nIUJT8hv .nav-link,
.cid-r1nIUJT8hv .navbar-caption {
  font-weight: normal;
}
.cid-r1nIUJT8hv .nav-item:focus,
.cid-r1nIUJT8hv .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-r1nIUJT8hv .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
  }
}
.cid-r1nIUJT8hv .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-r1nIUJT8hv .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-r1nIUJT8hv .dropdown .dropdown-menu .dropdown-item:hover {
  padding-right: 2.5385em;
  padding-left: 3.5385em;
}
.cid-r1nIUJT8hv .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-r1nIUJT8hv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-r1nIUJT8hv .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-r1nIUJT8hv .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-r1nIUJT8hv .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-r1nIUJT8hv .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #fac769;
  background: none;
}
.cid-r1nIUJT8hv .navbar.opened {
  transition: all .3s;
  background: #fac769 !important;
}
.cid-r1nIUJT8hv .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-r1nIUJT8hv .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-r1nIUJT8hv .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-r1nIUJT8hv .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-r1nIUJT8hv .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-r1nIUJT8hv .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-r1nIUJT8hv .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-r1nIUJT8hv .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-r1nIUJT8hv .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-r1nIUJT8hv .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-r1nIUJT8hv .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-r1nIUJT8hv .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-r1nIUJT8hv .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-r1nIUJT8hv .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-r1nIUJT8hv .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-r1nIUJT8hv .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-r1nIUJT8hv .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-r1nIUJT8hv .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-r1nIUJT8hv .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-r1nIUJT8hv .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-r1nIUJT8hv .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-r1nIUJT8hv .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-r1nIUJT8hv .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-r1nIUJT8hv .navbar.navbar-short {
  background: #fac769 !important;
  min-height: 60px;
}
.cid-r1nIUJT8hv .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-r1nIUJT8hv .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-r1nIUJT8hv .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-r1nIUJT8hv .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-r1nIUJT8hv .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-r1nIUJT8hv .dropdown-item.active,
.cid-r1nIUJT8hv .dropdown-item:active {
  background-color: transparent;
}
.cid-r1nIUJT8hv .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-r1nIUJT8hv .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-r1nIUJT8hv .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-r1nIUJT8hv .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #fac769;
}
.cid-r1nIUJT8hv .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-r1nIUJT8hv .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-r1nIUJT8hv ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-r1nIUJT8hv .navbar-buttons {
  text-align: center;
}
.cid-r1nIUJT8hv button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-r1nIUJT8hv button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-r1nIUJT8hv button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-r1nIUJT8hv button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-r1nIUJT8hv button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-r1nIUJT8hv button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-r1nIUJT8hv nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-r1nIUJT8hv nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-r1nIUJT8hv nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-r1nIUJT8hv nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-r1nIUJT8hv .navbar-dropdown {
  padding: .5rem 1rem;
}
.cid-r1nIUJT8hv a.nav-link {
  justify-content: center;
  display: flex;
  align-items: center;
}
.cid-r1nIUJT8hv .mbr-iconfont {
  font-size: 1rem;
  color: #66458e;
  display: inline-flex;
}
.cid-r1nIUJT8hv .mbr-iconfont:before {
  padding: .5rem;
  border: 1px solid;
  border-radius: 100px;
}
.cid-r1nIUJT8hv .soc-item {
  margin: .5rem .3rem;
}
.cid-r1nIUJT8hv .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  align-items: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-r1nIUJT8hv .navbar {
    height: 77px;
  }
  .cid-r1nIUJT8hv .navbar.opened {
    height: auto;
  }
  .cid-r1nIUJT8hv .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-riWPo8Jg3v {
  overflow: hidden !important;
  padding-top: 90px;
  padding-bottom: 45px;
  background-image: url("../../../assets/images/mbr-1920x1271.jpg");
}
.cid-riWPo8Jg3v .animated-element {
  color: #efefef;
}
.cid-riWPo8Jg3v .img-block {
  -webkit-align-self: center;
  align-self: center;
}
.cid-riWPo8Jg3v .mbr-section-subtitle {
  color: #000000;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-riWPo8Jg3v .img-block {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-riWPo8Jg3v .mbr-figure {
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .cid-riWPo8Jg3v .img-block {
    padding-bottom: 2rem;
  }
}
.cid-riWPo8Jg3v .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-riWPo8Jg3v .mbr-text,
.cid-riWPo8Jg3v .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-riWWwb2mLY {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-1920x1267.jpg");
}
.cid-riWWwb2mLY .play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #000000;
  margin-right: -3px;
}
.cid-riWWwb2mLY .mbr-media {
  display: inline-block;
  width: 100%;
}
.cid-riWWwb2mLY .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-riWWwb2mLY .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-riWWwb2mLY .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-riWWwb2mLY a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-riWWwb2mLY a.close:hover {
  color: #ffffff;
}
.cid-riWWwb2mLY .btn-play {
  position: relative;
  background: #fac769;
  width: 60px;
  height: 60px;
  border: 1px solid #fac769;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  text-align: center;
  line-height: 60px;
  font-size: 27px;
  cursor: pointer;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  -webkit-transition-property: color, background, border-color;
  transition-property: color, background, border-color;
}
.cid-riWWwb2mLY .btn-play:after {
  content: '';
  border: 1px solid;
  border-color: inherit;
  width: 150%;
  height: 150%;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  position: absolute;
  left: -25%;
  top: -25%;
  opacity: 1;
  -webkit-animation: 1s play-video linear infinite;
  animation: 1s play-video linear infinite;
}
@keyframes play-video {
  0% {
    transform: scale(0.68);
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes play-video {
  0% {
    -webkit-transform: scale(0.68);
  }
  100% {
    -webkit-transform: scale(1.2);
    -webkit-opacity: 0;
  }
}
.cid-riWWwb2mLY H1 {
  color: #fac769;
}
.cid-riWTR2Pd23 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-riWTR2Pd23 .mbr-text,
.cid-riWTR2Pd23 .mbr-section-subtitle {
  color: #767676;
}
.cid-riWTR2Pd23 .card-title {
  color: #66458e;
}
.cid-riWTR2Pd23 .card .card-img span {
  color: #916410;
  font-size: 60px;
  background: linear-gradient(45deg, #916410, #916410);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 767px) {
  .cid-riWTR2Pd23 .mbr-section-subtitle,
  .cid-riWTR2Pd23 .mbr-section-title {
    text-align: center !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-riWTR2Pd23 .card .card-img span {
    background: none;
  }
}
.cid-riWTR2Pd23 .card-title,
.cid-riWTR2Pd23 .card-img {
  color: #916410;
}
.cid-riWTR2Pd23 .mbr-section-title {
  color: #916410;
}
.cid-riXJ3FJoUy {
  background: #ffffff;
}
.cid-riXJ3FJoUy .container-fluid {
  padding: 0 3rem;
}
.cid-riXJ3FJoUy .video-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 767px) {
  .cid-riXJ3FJoUy .container-fluid {
    padding: 0 1rem;
  }
  .cid-riXJ3FJoUy .video-block {
    width: 100% !important;
  }
}
.cid-riXJ96zCYQ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-riXJ96zCYQ .mbr-text {
  color: #767676;
}
.cid-riXJ96zCYQ .mbr-section-subtitle {
  color: #767676;
}
.cid-riXJ96zCYQ .title {
  position: relative;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-riXJ96zCYQ .title .num {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 0;
  width: 100%;
  font-size: 4rem;
}
.cid-riXJ96zCYQ .title .card-title {
  z-index: 1;
  width: 100%;
}
.cid-riXJ96zCYQ .card-text {
  padding-top: 2rem;
}
.cid-riXJ96zCYQ .card-box {
  padding-bottom: 1rem;
}
.cid-riXJ96zCYQ .num {
  color: #cccccc;
}
@media (max-width: 767px) {
  .cid-riXJ96zCYQ .num,
  .cid-riXJ96zCYQ .card-title,
  .cid-riXJ96zCYQ .mbr-text,
  .cid-riXJ96zCYQ .mbr-title,
  .cid-riXJ96zCYQ .mbr-section-subtitle,
  .cid-riXJ96zCYQ .mbr-section-btn,
  .cid-riXJ96zCYQ .mbr-section-title {
    text-align: center !important;
  }
  .cid-riXJ96zCYQ .content-column {
    margin-bottom: 2rem;
  }
}
.cid-riXGyFW6nK {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-riXGyFW6nK .mbr-section-subtitle {
  color: #767676;
}
.cid-riXGyFW6nK .mbr-section-title {
  color: #000000;
}
.cid-riXGZnRXOu {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-riXGZnRXOu .mbr-text {
  text-align: center;
}
.cid-riXIz8ka2y {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-riXIz8ka2y .mbr-section-subtitle {
  color: #767676;
}
.cid-riXIz8ka2y .mbr-section-title {
  color: #000000;
}
.cid-riXGlY5xnK {
  padding-top: 15px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-riXGlY5xnK .mbr-figure {
    padding-right: 2rem;
  }
}
@media (max-width: 992px) {
  .cid-riXGlY5xnK .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-riXGlY5xnK .mbr-text {
  text-align: center;
}
.cid-riXIApt5rJ {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-riXIApt5rJ .mbr-section-subtitle {
  color: #767676;
}
.cid-riXIApt5rJ .mbr-section-title {
  color: #000000;
}
.cid-riXGkVQyhB {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-riXGkVQyhB .mbr-figure {
    padding-left: 2rem;
  }
}
@media (max-width: 992px) {
  .cid-riXGkVQyhB .mbr-figure {
    padding-top: 1rem;
  }
}
.cid-riXGkVQyhB .mbr-text {
  text-align: center;
}
.cid-riWTYRVMIZ {
  padding-top: 135px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/mbr-1920x1275.jpg");
}
.cid-riWTYRVMIZ .main {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-riWTYRVMIZ .row-element,
.cid-riWTYRVMIZ .image-element {
  padding: 0;
}
.cid-riWTYRVMIZ .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-riWTYRVMIZ .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-riWTYRVMIZ .text-content {
  padding: 3rem;
}
@media (max-width: 767px) {
  .cid-riWTYRVMIZ .text-content {
    padding: 2rem 1rem;
  }
  .cid-riWTYRVMIZ .mbr-title,
  .cid-riWTYRVMIZ .underline,
  .cid-riWTYRVMIZ .mbr-text,
  .cid-riWTYRVMIZ .mbr-section-btn {
    text-align: center !important;
  }
}
.cid-riXDmlM2hA {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #232323;
}
.cid-riXDmlM2hA .mbr-section-subtitle {
  color: #767676;
}
.cid-riXDmlM2hA .mbr-section-title {
  color: #ffffff;
}
.cid-riWU5TcR22 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-riWU5TcR22 .counter-container {
  color: #767676;
}
.cid-riWU5TcR22 .counter-container ol {
  margin-bottom: 0;
  counter-reset: myCounter;
}
.cid-riWU5TcR22 .counter-container ol li {
  margin-bottom: 1rem;
}
.cid-riWU5TcR22 .counter-container ol li {
  list-style: none;
  padding-left: .5rem;
}
.cid-riWU5TcR22 .counter-container ol li:before {
  position: absolute;
  left: 0px;
  margin-top: -10px;
  counter-increment: myCounter;
  content: counter(myCounter);
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 40px;
  transition: all .2s;
  color: #000000;
  background: #fac769;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cid-riXDriLPfA {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #916410;
}
.cid-riXDriLPfA .mbr-section-subtitle {
  color: #cccccc;
}
@media (max-width: 767px) {
  .cid-riXDriLPfA .mbr-section-btn,
  .cid-riXDriLPfA .mbr-section-subtitle,
  .cid-riXDriLPfA .mbr-section-title {
    text-align: center !important;
  }
}
.cid-riXDuA7l6s {
  padding-top: 150px;
  padding-bottom: 150px;
  background-image: url("../../../assets/images/accessoires-kinderwagen-handvat-hoes-leder-bugaboo-black-1024x768.jpg");
}
.cid-riXDuA7l6s .mbr-section-title {
  text-align: center;
}
.cid-riXDuA7l6s .mbr-section-subtitle {
  text-align: center;
}
.cid-riWTNikFrl {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-riWTNikFrl .card {
  display: flex;
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-riWTNikFrl .card .card-wrapper {
  background: #d9a036;
  height: 1%;
}
.cid-riWTNikFrl .card .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}
.cid-riWTNikFrl .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-riWTNikFrl .card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: .6rem;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  border-radius: 100px;
  background-color: #916410;
}
.cid-riWTNikFrl .card .card-wrapper .card-img .img-text span {
  display: block;
}
.cid-riWTNikFrl .card .card-wrapper .card-box {
  padding: 1.5rem;
}
.cid-riWTNikFrl .mbr-card-text {
  margin: 0;
}
.cid-riWTNikFrl .mbr-section-title {
  text-align: center;
}
.cid-riXjqQYtOU {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-riXjqQYtOU .card {
  display: flex;
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-riXjqQYtOU .card .card-wrapper {
  background: #d9a036;
  height: 1%;
}
.cid-riXjqQYtOU .card .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}
.cid-riXjqQYtOU .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-riXjqQYtOU .card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: .6rem;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  border-radius: 100px;
  background-color: #916410;
}
.cid-riXjqQYtOU .card .card-wrapper .card-img .img-text span {
  display: block;
}
.cid-riXjqQYtOU .card .card-wrapper .card-box {
  padding: 1.5rem;
}
.cid-riXjqQYtOU .mbr-card-text {
  margin: 0;
}
.cid-riXjqQYtOU .mbr-section-title {
  text-align: center;
}
.cid-riXjA4cFjx {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-riXjA4cFjx .card {
  display: flex;
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-riXjA4cFjx .card .card-wrapper {
  background: #d9a036;
  height: 1%;
}
.cid-riXjA4cFjx .card .card-wrapper .card-img {
  position: relative;
  overflow: hidden;
  border-radius: 0;
  z-index: 1;
}
.cid-riXjA4cFjx .card .card-wrapper .card-img img {
  transition: all .5s;
}
.cid-riXjA4cFjx .card .card-wrapper .card-img .img-text {
  position: absolute;
  padding: .6rem;
  top: 1.5rem;
  left: 1.5rem;
  z-index: 1;
  border-radius: 100px;
  background-color: #916410;
}
.cid-riXjA4cFjx .card .card-wrapper .card-img .img-text span {
  display: block;
}
.cid-riXjA4cFjx .card .card-wrapper .card-box {
  padding: 1.5rem;
}
.cid-riXjA4cFjx .mbr-card-text {
  margin: 0;
}
.cid-riXjA4cFjx .mbr-section-title {
  text-align: center;
}
.cid-riXFs7UNmH {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-riXFs7UNmH .header-text {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: #232323;
}
.cid-riXFs7UNmH .accordion-content {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.cid-riXFs7UNmH .mbr-section-subtitle {
  color: #767676;
}
.cid-riXFs7UNmH .panel-group {
  width: 100%;
}
.cid-riXFs7UNmH .panel-text {
  color: #767676;
}
.cid-riXFs7UNmH .card {
  border-radius: 0px;
  margin-bottom: .5rem;
}
.cid-riXFs7UNmH .card .card-header {
  border-radius: 0px;
  border: 0px;
  padding: 0;
}
.cid-riXFs7UNmH .card .card-header a.panel-title {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  transition: all .3s;
  background-color: #f6f6f6;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 500;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-decoration: none !important;
  margin-top: -1px;
  line-height: normal;
}
.cid-riXFs7UNmH .card .card-header a.panel-title:hover {
  opacity: 0.5;
}
.cid-riXFs7UNmH .card .card-header a.panel-title:focus {
  text-decoration: none !important;
}
.cid-riXFs7UNmH .card .card-header a.panel-title .sign {
  padding-right: 1rem;
}
.cid-riXFs7UNmH .card .card-header a.panel-title h4 {
  padding: 1rem 1rem;
  margin-bottom: 0;
}
.cid-riXFs7UNmH .card .panel-body {
  background: #ffffff;
}
.cid-riXFs7UNmH .sign {
  color: #232323;
}
.cid-riXBWieumg {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-riXBWieumg .form-control {
  color: #000000 !important;
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
  padding: .5rem 0rem;
  border-bottom: 1px solid #000000;
}
.cid-riXBWieumg .form-control:focus {
  outline: none;
  box-shadow: none;
}
.cid-riXBWieumg input::-webkit-input-placeholder {
  color: #000000;
}
.cid-riXBWieumg input::-moz-placeholder {
  color: #000000;
}
.cid-riXBWieumg textarea::-webkit-input-placeholder {
  color: #000000;
}
.cid-riXBWieumg textarea::-moz-placeholder {
  color: #000000;
}
.cid-riXBWieumg .mbr-section-subtitle {
  color: #767676;
}
.cid-riXBRvFL65 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/mbr-1920x840.jpg");
}
.cid-riXBRvFL65 .mbr-section-subtitle {
  color: #767676;
}
.cid-riXBRvFL65 ul.list-inline {
  margin: 0;
  -webkit-align-self: center;
  align-self: center;
}
.cid-riXBRvFL65 ul.list-inline li {
  margin: 0;
  padding: .5rem;
}
.cid-riXBRvFL65 ul.list-inline img {
  max-width: 6rem;
  padding-bottom: .5rem;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
}
.cid-riXBRvFL65 ul.list-inline img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
}
@media (max-width: 767px) {
  .cid-riXBRvFL65 .list-inline-item img {
    max-width: 5rem;
  }
}
.cid-riWYk0lsbt {
  padding-top: 45px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-riWYk0lsbt .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 3rem;
}
.cid-riWYk0lsbt .carousel-item > div {
  width: 100%;
}
.cid-riWYk0lsbt .carousel-item.active,
.cid-riWYk0lsbt .carousel-item-next,
.cid-riWYk0lsbt .carousel-item-prev {
  display: flex;
}
.cid-riWYk0lsbt .carousel-controls a {
  transition: opacity .5s;
  font-size: 1.2rem;
}
.cid-riWYk0lsbt .carousel-controls a span {
  padding: 15px;
  border-radius: 50%;
  color: #000000;
  background: #ffffff;
  opacity: .9;
}
.cid-riWYk0lsbt .carousel-controls a:hover span {
  opacity: 1;
}
.cid-riWYk0lsbt .signature,
.cid-riWYk0lsbt .desk {
  margin: 0;
}
.cid-riWYk0lsbt .mbr-text,
.cid-riWYk0lsbt .mbr-section-subtitle {
  color: #cccccc;
}
.cid-riWYk0lsbt .signature,
.cid-riWYk0lsbt .desk {
  color: #ffffff;
}
@media (min-width: 992px) {
  .cid-riWYk0lsbt .carousel-item {
    padding: 0 5rem;
  }
}
@media (min-width: 768px) {
  .cid-riWYk0lsbt .carousel-controls a {
    width: 5%;
  }
}
.cid-riXENdg718 {
  padding-top: 0px;
  padding-bottom: 0px;
  background: #ffffff;
}
.cid-riXENdg718 .google-map {
  height: 25rem;
  position: relative;
}
.cid-riXENdg718 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-riXENdg718 .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-riXENdg718 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-riXENdg718 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
.cid-riXBBVnv6p {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-riXBBVnv6p .content-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-riXBBVnv6p .title {
  position: relative;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-riXBBVnv6p .title .num {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 0;
  width: 100%;
  font-size: 4rem;
}
.cid-riXBBVnv6p .title .card-title {
  z-index: 1;
  width: 100%;
}
.cid-riXBBVnv6p .card-text {
  margin-top: 2rem;
}
.cid-riXBBVnv6p .card-box {
  margin-bottom: 1rem;
}
.cid-riXBBVnv6p .num {
  color: #767676;
}
@media (max-width: 767px) {
  .cid-riXBBVnv6p .num,
  .cid-riXBBVnv6p .card-title,
  .cid-riXBBVnv6p .mbr-text,
  .cid-riXBBVnv6p .mbr-title,
  .cid-riXBBVnv6p .mbr-section-subtitle,
  .cid-riXBBVnv6p .mbr-section-btn {
    text-align: center !important;
  }
  .cid-riXBBVnv6p .content-column {
    margin-bottom: 2rem;
  }
}
